footer{
	background: #000000;
	height: 90px;
	margin-top: 80px;
}

.footer-heading{
	font-family: stylistic;
	color: #FFFFFF;
}

.footer-text, .footer-text a{
	font-family: regular;
	color: #FFFFFF;
}
