/*ret top-bottom padding to 10px, left right to 25px*/
.navbar-default{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 0px;
	margin-bottom: 0px;

	background: #FFFFFF;
	box-shadow: 0px 0px 10px #CCAEAE;

	border-radius: 0px;
	border-style: none;

	font-family: regular;
}


/*remove padding so .navbar-brand-image can fit in perfectly*/
.navbar-brand{
	padding: 0px;
}

.navbar-brand-image{
	height: 50px;
	width: 50px;
}

.btn{
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 15px;
	padding-right: 15px;
}

.btn-default{
	background: #000000;
	color: #FFFFFF;
	border-radius: 0px;
	border-style: none;
	font-family: stylistic;
	font-size: 16px;
	box-shadow: 0px 0px 10px #CCAEAE;
}


.form-control{
	border-radius: 0px;
	border-style: none;
}